<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>File not found</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">

    <style>
    body{padding-top: 100px;}
    </style>

  </head>

  <body>
    <div class="container text-xs-center">
      <div class="text-xs-center">
        <h2 class="display-2">404</h2>
        <h4 class="display-3">That's an error.</h4>
        <h5 class="display-4">The site configured at this address does not contain the requested file.</h5>
      </div>
    </div>
  </body>

</html>
