<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Munro Leys - Leave Management System</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='react-datepicker.min.css') }}">

    <style>
    .navbar {background-color: #fff; border-bottom: 1px solid #edeeee;}
    body{padding-top: 70px;}
    </style>
    
  </head>

  <body>
    <div class="container">
      <div id="root">
      </div>
    <script type=text/javascript src="{{url_for('static', filename='main.js') }}"></script>
    </div>
  </body>

</html>
